/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

/* Animation: A -> B */

.order-enter /* Point A */
  transition all 0.5s
  transform translateX(-120%) rotate(-180deg) /* Put it offscreen */
  max-height 0
  padding 0 !important
  &.order-enter-active /* Point B */
    max-height 60px
    padding 2rem 0 !important
    transform translateX(0) rotate(0)

.order-leave
  transition all 0.5s
  transform translateX(0)
  &.order-leave-active
    transform translateX(120%)
    max-height 0
    padding 0


.count-enter
  transition all 0.25s
  transform translateY(100%) /* start offscreen */
  &.count-enter-active
    transform translateY(0) /* end onscreen */

.count-leave
  position absolute /* for to overlapping */
  left 0
  bottom 0
  transition all 0.25s
  transform translateY(0) /* start onscreen */
  &.count-leave-active
    transform translateY(-100%) /* end offscreen */
